<section class="page-section">
    <div class="container">
        <h2>Dataviz Section 2</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere accusamus voluptatibus voluptas blanditiis aut reprehenderit unde? Asperiores soluta labore non obcaecati esse blanditiis quidem, iure itaque tempore id? Quibusdam, saepe.</p>

        <div>
            {{ gobackurl = '/pages/map'; gobacklabel = 'Allez à la page map'; '' }}
            <%- include('components/goback.ejs'); %>
        </div>
    </div>
</section>
