<section class="page-section">
    <div class="container">
        <h2>Map Section 1</h2>

        <ods-map context="ctx"></ods-map>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere accusamus voluptatibus voluptas blanditiis aut reprehenderit unde? Asperiores soluta labore non obcaecati esse blanditiis quidem, iure itaque tempore id? Quibusdam, saepe.</p>
    </div>
</section>
