<section class="bg-db py-40 " >

    <div class="header-container">
    <span class="w-600 s-32 c-w py-10" > Activité sanitaire</span>

    <span class="w-500 s-16 c-w py-10">MCO</span>
</div>
</section>