.header-container{
    margin-left:64px;
    display: flex;
    flex-direction: column;

}

.menu{
    display:flex;
    a:hover{
        text-decoration: none;
    }
    a{
        color:white;
        display: flex
        ;
            flex-direction: column;
    }
    gap:8px
}

.submenu{
    display:flex;
    border-radius:50px;
    padding :4px;
    height:100%;

    }

.item{
    padding: 13px 24px;
    border-radius: 50px;
    display: flex
;
    align-items: center;
    height:100%
}

a{
    color:white
}